[Unit]
Description=calckey
After=network.target

[Service]
Type=simple
User=calckey
WorkingDirectory=/var/lib/calckey/live
Environment="NODE_ENV=production"
EnvironmentFile=/etc/default/calckey
ExecStart=/bin/bash /usr/bin/calckey-start
ExecReload=/bin/kill -SIGUSR1 $MAINPID
TimeoutSec=15
Restart=on-failure

# Proc filesystem
ProcSubset=pid
ProtectProc=invisible

# Capabilities
CapabilityBoundingSet=

# Security
NoNewPrivileges=true

# Sandboxing
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
ProtectClock=true

# System Call Filtering
SystemCallArchitectures=native
SystemCallFilter=~@cpu-emulation @debug @keyring @ipc @mount @obsolete @privileged @setuid
SystemCallFilter=@chown
SystemCallFilter=pipe
SystemCallFilter=pipe2
ReadWritePaths=/var/lib/calckey/live

[Install]
WantedBy=multi-user.target
