[Unit]
Description=firefish
After=network.target

[Service]
Type=simple
User=firefish
WorkingDirectory=/var/lib/firefish/live
Environment="NODE_ENV=production"
EnvironmentFile=/etc/default/firefish
ExecStart=/usr/bin/firefish-start
ExecReload=/bin/kill -SIGUSR1 $MAINPID
TimeoutSec=15
Restart=on-failure
StartLimitBurst=2

# Proc filesystem
ProcSubset=pid
ProtectProc=invisible

# Capabilities
CapabilityBoundingSet=

# Security
NoNewPrivileges=true

# Sandboxing
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
RemoveIPC=true
PrivateMounts=true
ProtectClock=true

# System Call Filtering
SystemCallArchitectures=native
SystemCallFilter=~@cpu-emulation @debug @ipc @mount @obsolete @privileged @setuid
ReadWritePaths=/var/lib/firefish/live

[Install]
WantedBy=multi-user.target
